<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="import" href="/IESlab/pages/head.html">
		<script src="/IESlab/static/js/sys-menu.js"></script>
	</head>

	<body>
		
		<div id="sys-menu">
			<div class="table-box">
				<div class="search layui-form">
					<div class="search-box">
						<div class="search-item">
							<label>选择开始时间：</label>
							<input class="ies-input" id="date1" />
						</div>
						<div class="search-item">
							<label>查询条件2：</label>
							<select name="city" lay-verify=""> 
								<option value="">请选择一个城市</option>
								<option value="010">北京</option>
								<option value="021">上海</option>
								<option value="0571">杭州</option>
							</select>
						</div>

					</div>
					<div class="search-btn">
						<button class="ies-btn radius primary"><i class="fa fa-search"></i>查询</button>
						<button class="ies-btn radius success"><i class="fa fa-reply-all"></i>重置</button>
					</div>
				</div>
				<div class="handle-btn">
					<button class="ies-btn"><i class="fa fa-plus"></i>添加</button>
					<button class="ies-btn"><i class="fa fa-pencil-square-o"></i>修改</button>
					<button class="ies-btn"><i class="fa fa-trash"></i>删除</button>
				</div>
				<table class="ies-table striped hover">
					<thead>
						<tr>
							<th>名字</th>
							<th>链接</th>
							<th>可见</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<template v-for="mainMenu in menuList">
							<tr>
								<td>
									<i class="fa fa-angle-right fa-lg open-list" @click="openChildMenu(mainMenu.id,$event)"></i> {{mainMenu.name}}
								</td>
								<td>{{mainMenu.link}}</td>
								<td>{{mainMenu.disable}}</td>
								<td>
									<button class="ies-btn primary small">添加子菜单</button>
									<button class="ies-btn success small">编辑</button>
									<button class="ies-btn error small">删除</button>
								</td>
							</tr>
							<tr v-for="childMenu in mainMenu.childMenu" v-show="mainMenu.id===mainMenuID">
								<td class="secendMenuName">
									{{childMenu.name}}
								</td>
								<td>{{childMenu.link}}</td>
								<td>{{childMenu.disable}}</td>
								<td>
									<button class="ies-btn success small">编辑</button>
									<button class="ies-btn error small">删除</button>
								</td>
							</tr>
						</template>

					</tbody>

				</table>

			</div>
		</div>

	</body>

</html>